@using System.Data
@model GeminiSearchWebApp.DAL.LdapConnect

@{

    ViewBag.title = "SearchCases";
    Layout="SearchLayout.cshtml";
}
<head>
    <title>Gemini Case Search</title>


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js" type="text/javascript"></script>*@
    @*<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />*@
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" defer></script>*@
    @*<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />*@

    <script src="~/CustomJS/jquery.js"></script>
    <link href="~/CustomCSS/jquery-ui.css" rel="stylesheet" />
    <script src="~/CustomJS/jquery-ui.min.js"></script>
    <script src="~/CustomJS/jquery.dataTables.min.js" defer></script>
    <link href="~/CustomCSS/jquery.dataTables.min.css" rel="stylesheet" />

    <script type="text/javascript">
        var caseIdVal;
        var caseTypeVal;
        $(document).ready(function () {
            var loginResult = '@ViewBag.loginStatusResult';
            //if (loginResult=="") {
            //    window.location.href = "/Home/Login";
            //}
            
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('name')=="") {
                window.location.href = "/Home/Login";
            }
            if (urlParams.has('name') == false) {
                window.location.href = "/Home/Login";
            }

                $.fn.resetForm = function () {
                $("input").change(function () {
                    if ($.fn.ifEmpty() == false) {
                        location.reload();
                    }
                })
                $("#filter_level").change(function () {
                    if ($.fn.ifEmpty() == false) {
                        location.reload();
                    }
                })
                //$("#dateRange").change(function () {
                //    if ($.fn.ifEmpty() == false) {
                //        location.reload();
                //    }
                //})
                //$("#toRange").change(function () {
                //    if ($.fn.ifEmpty() == false) {
                //        location.reload();
                //    }
                //})
            };
            var empty = false;
            $.fn.ifEmpty = function () {
                $('input[type="text"]').each(function () {
                    console.log($(this).val());
                    if ($(this).val() == "") {
                        empty = true;
                        return true;
                    }
                })
                return false;
            };

           // console.log($.fn.ifEmpty());
            var tableDoc;
            var tableAction;
            $("#btnSearch").click(function () {
                var from = $("#dateRange").val();
                var to = $("#toRange").val();
                var d = new Date(from.split("/").reverse().join("-"));
                var dd = d.getDate();
                var mm = d.getMonth() + 1;
                var yy = d.getFullYear();
                var startDate = mm + "/" + dd + "/" + yy;
                var d = new Date(to.split("/").reverse().join("-"));
                var ddt = d.getDate();
                var mmt = d.getMonth() + 1;
                var yyt = d.getFullYear();
                var endDate = mmt + "/" + ddt + "/" + yyt;

                if (!$('#filter_level').val() && document.getElementById("Pid").value.length == 0) {

                    alert('@ViewBag.emptySearch');
                    location.reload();
                }
                else if (!$('#filter_level').val()) {
                    alert('@ViewBag.emptySearchLevel');
                    location.reload();
                }
                else if ($('#filter_level').val() == "Account Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyAccountID');
                    location.reload();
                }
                else if ($('#filter_level').val() == "Adviser Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyAdviserID');
                    location.reload();
                }
                else if ($('#filter_level').val() == "Customer Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyCustomerID');
                    location.reload();
                }
                else if (document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptySearchPid');
                    location.reload();
                }
                else if ((Date.parse(startDate)) >= (Date.parse(endDate))) {
                    alert('@ViewBag.fromDateGreaterThanToDate');
                }
                else if ($('input[name="date_case"]:checked').length == 0) {
                    alert('@ViewBag.emptyCaseTypeDate');
                    location.reload();
                }
                else if ($('#filter_level').val() == "Account Level" && document.getElementById("Pid").value.length > 20) {
                    alert('@ViewBag.accountIdLength');
                    location.reload();
                }
                else if ($('#filter_level').val() == "Adviser Level" && document.getElementById("Pid").value.length > 5) {
                    alert('@ViewBag.advisorIdLength');
                    location.reload();
                }
                 else if ($('#filter_level').val() == "Customer Level" && document.getElementById("Pid").value.length >9) {
                    alert('@ViewBag.customerIdLength');
                    location.reload();
                }
                else {
                    $("#output1").show();
                    $("#output2").show();
                }

                var aFilterValue = $("#filter_level option:selected").val();
                var aIdValue = $("#Pid").val();
                var aFromDate = $("input[id='dateRange']").val();
                var aToDate = $("input[id='toRange']").val();
                var aCaseType = $('input[name="date_case"]:checked').val();
                if (aFilterValue == null && aIdValue == null && aCaseType == null) {
                    writeLogFileFromView("User Inputted values are null");
                }
                else {
                    $.ajax(
                        {
                            type: "POST",
                            url: "/Home/GetCasesRecord",
                            dataType: "JSON",
                            data: { filterLevel: aFilterValue, userId: aIdValue, fromDate: aFromDate.toString(), toDate: aToDate.toString(), caseDateType: aCaseType },
                            success: function (result) {

                                try {
                                    if (!$.fn.DataTable.isDataTable("#myTable")) {
                                        var myTable = $("#myTable").DataTable({
                                            pageLength: 10,
                                            searching: false,
                                            select: true,
                                            lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 'All records']],
                                            data: result,
                                            columns: [
                                                { 'data': 'Account' },
                                                { 'data': 'Status' },
                                                { 'data': 'CaseType' },
                                                { 'data': 'Created' },
                                                { 'data': 'Completed' },
                                                { 'data': 'Priority' },
                                                { 'data': 'Adviser' },
                                                { 'data': 'Flag' },
                                                { 'data': 'CustomerId' },
                                                { 'data': 'Requestor' },
                                                { 'data': 'CaseID' },
                                                { 'data': 'WorkpackID' },
                                                { 'data': 'Team' },
                                                { 'data': 'InPFC' },
                                                { 'data': 'Employee' }
                                            ]
                                        });
                                        $('#myTable tbody').on('click', 'tr', function () {
                                            if ($(this).hasClass('selected')) {
                                                $(this).removeClass('selected');
                                            }
                                            else {
                                                myTable.$('tr.selected').removeClass('selected');
                                                $(this).addClass('selected');
                                            }
                                            $(this).addClass('selected');
                                            var data = myTable.row(this).data();
                                            caseIdVal = data.CaseID;
                                            caseTypeVal = data.CaseType;
                                            if (caseIdVal == null && caseTypeVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities:';
                                            }
                                            else if (caseTypeVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities for (id ' + caseIdVal + ')';
                                            }
                                            else if (caseIdVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities for "' + caseTypeVal + '"';
                                            }
                                            else {
                                                document.getElementById("res").innerHTML = 'Case Activities for " ' + caseTypeVal + '" (id ' + caseIdVal + ')';
                                            }
                                        });
                                        $('#myTable tbody').on('dblclick', 'tr', function () {
                                            if ($(this).hasClass('selected')) {
                                                $(this).removeClass('selected');
                                            }
                                            else {
                                                myTable.$('tr.selected').removeClass('selected');
                                                $(this).addClass('selected');
                                            }
                                            $(this).addClass('selected');
                                            var data = myTable.row(this).data();
                                            caseIdVal = data.CaseID;
                                            caseTypeVal = data.CaseType;
                                            if (caseIdVal == null && caseTypeVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities:';
                                            }
                                            else if (caseTypeVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities for (id ' + caseIdVal + ')';
                                            }
                                            else if (caseIdVal == null) {
                                                document.getElementById("res").innerHTML = 'Case Activities for "' + caseTypeVal + '"';
                                            }
                                            else {
                                                document.getElementById("res").innerHTML = 'Case Activities for " ' + caseTypeVal + '" (id ' + caseIdVal + ')';
                                            }
                                        });
                                    }
                                }
                                catch (e) {
                                    writeLogFileFromView(e);
                                    console.log(e);
                                }

                                var caseTable = $("#myTable tr").eq(1).find("td:nth-child(11)");
                                var caseIdText = caseTable.text();

                                var aFValue = $("#filter_level option:selected").val();
                                var aId = $("#Pid").val();
                                var aFDate = $("input[id='dateRange']").val();
                                var aTDate = $("input[id='toRange']").val();
                                var aCase = $('input[name="date_case"]:checked').val();
                                if (aFValue == null && aId == null && aCase == null) {
                                    writeLogFileFromView("User Inputted values are null");
                                }
                                else {
                                    $.ajax(
                                        {
                                            type: "POST",
                                            url: "/Home/GetSearchDoc",
                                            dataType: "JSON",
                                            data: { fLevel: aFValue, uId: aId, fDate: aFDate.toString(), tDate: aTDate.toString(), caseType: aCase },
                                            success: function (response) {

                                                try {
                                                    if (!$.fn.DataTable.isDataTable("#actionTable")) {
                                                        $.fn.dataTable.ext.errMode = 'none';

                                                        $('#actionTable').on('error.dt', function (e, settings, techNote, message) {
                                                            console.log('An error has been reported by DataTables: ', message);
                                                        });
                                                        tableAction = $('#actionTable').DataTable({
                                                            "paginate": false,
                                                            "searching": false,
                                                            "bInfo": false,
                                                            "sorting": false
                                                        });
                                                        tableAction.column(4).visible(false);
                                                    }
                                                } catch (e) {
                                                    writeLogFileFromView(e);
                                                    console.log(e);
                                                }

                                                $('#actionTable tbody').on('click', 'tr', function () {
                                                    if ($(this).hasClass('selected')) {
                                                        $(this).removeClass('selected');
                                                    }
                                                    else {
                                                        tableAction.$('tr.selected').removeClass('selected');
                                                        $(this).addClass('selected');
                                                    }
                                                    $(this).addClass('selected');
                                                });
                                                $('#actionTable tbody').on('dblclick', 'tr', function () {
                                                    if ($(this).hasClass('selected')) {
                                                        $(this).removeClass('selected');
                                                    }
                                                    else {
                                                        tableAction.$('tr.selected').removeClass('selected');
                                                        $(this).addClass('selected');
                                                    }
                                                    $(this).addClass('selected');
                                                });

                                                try {
                                                    if (!$.fn.DataTable.isDataTable("#docTable")) {
                                                        $.fn.dataTable.ext.errMode = 'none';

                                                        $('#docTable').on('error.dt', function (e, settings, techNote, message) {
                                                            console.log('An error has been reported by DataTables: ', message);
                                                        });
                                                        tableDoc = $('#docTable').DataTable({
                                                            "searching": false,
                                                            "fixedColumns": {
                                                                "heightMatch": 'none',
                                                            },
                                                            "lengthChange": false,
                                                            "paginate": false,
                                                            "bInfo": false
                                                        });
                                                    }
                                                } catch (e) {
                                                    writeLogFileFromView(e);
                                                    console.log(e);
                                                }

                                                try {
                                                    tableDoc.clear();
                                                    if (response.length != 0 && caseIdText != null) {
                                                        $.each(response, function (i, index) {
                                                            if (caseIdText == index.CaseID) {
                                                                tableDoc.row.add([
                                                                    index.DocumentType,
                                                                    index.DocCreated,
                                                                    index.Id,
                                                                    index.Source,
                                                                    index.BoxID,
                                                                    index.BundleID,
                                                                    index.DateTimeReceived,
                                                                    index.LetterDescription
                                                                ]);
                                                                tableDoc.draw();
                                                            }
                                                        });
                                                    }
                                                    else {
                                                        writeLogFileFromView("Response or CaseId is null");
                                                    }

                                                } catch (e) {
                                                    writeLogFileFromView(e);
                                                    console.log(e);
                                                }

                                                var DELAY = 700, clicks = 0, timer = null;
                                                var rowId = null;
                                                $(function () {

                                                    $("#myTable").on("click", 'tr', function (e) {

                                                        clicks++;

                                                        if (clicks === 1) {
                                                            rowId = this.rowIndex;
                                                            var caseText = $("#myTable tr").eq(rowId).find("td:nth-child(11)");
                                                            var selectedCaseId = caseText.text();
                                                            timer = setTimeout(function () {
                                                                try {
                                                                    tableDoc.clear().draw();
                                                                    if (response.length != 0 && selectedCaseId != null) {
                                                                        $.each(response, function (i, index) {
                                                                            if (selectedCaseId == index.CaseID) {
                                                                                console.log(index.CaseID);
                                                                                tableDoc.row.add([
                                                                                    index.DocumentType,
                                                                                    index.DocCreated,
                                                                                    index.Id,
                                                                                    index.Source,
                                                                                    index.BoxID,
                                                                                    index.BundleID,
                                                                                    index.DateTimeReceived,
                                                                                    index.LetterDescription
                                                                                ]);
                                                                                tableDoc.draw();
                                                                            }
                                                                        });
                                                                    }
                                                                    else {
                                                                        writeLogFileFromView("Response or CaseId is null");
                                                                    }
                                                                } catch (e) {
                                                                    writeLogFileFromView(e);
                                                                    console.log(e);
                                                                }

                                                                clicks = 0;

                                                            }, DELAY);

                                                        } else {

                                                            clearTimeout(timer);

                                                            rowId = this.rowIndex;
                                                            var caseText = $("#myTable tr").eq(rowId).find("td:nth-child(11)");
                                                            var caseIdSelected = caseText.text();
                                                            if (caseIdSelected == null) {
                                                                writeLogFileFromView("CaseId for ActionHistory ajax is null");
                                                            }
                                                            else {
                                                                $.ajax(
                                                                    {
                                                                        type: "POST",
                                                                        url: "/Home/GetActionRecord",
                                                                        dataType: "JSON",
                                                                        data: { selectedCaseId: caseIdSelected },

                                                                        success: function (outcome) {
                                                                            try {
                                                                                tableAction.clear();
                                                                                $("#fullTextMessage").text('');
                                                                                if (outcome.length != 0) {
                                                                                    $.each(outcome, function (i, index) {
                                                                                        tableAction.row.add([
                                                                                            index.Action,
                                                                                            index.DateandTime,
                                                                                            index.Employee,
                                                                                            index.Message,
                                                                                            index.Text2
                                                                                        ]);
                                                                                        tableAction.draw();
                                                                                    });
                                                                                    modal.style.display = "block";
                                                                                }
                                                                                else {
                                                                                    tableAction.clear().draw();
                                                                                    modal.style.display = "block";
                                                                                }
                                                                            } catch (e) {
                                                                                writeLogFileFromView(e);
                                                                                console.log(e);
                                                                            }

                                                                            $('#actionTable').on('click', 'tr', function (e) {
                                                                                var actionRowId = this.rowIndex;
                                                                                var selectedMsg1 = $("#actionTable tr").eq(actionRowId).find("td:nth-child(4)");
                                                                                var msg1 = selectedMsg1.text();
                                                                                var rowValue = tableAction.row(actionRowId - 1).data();
                                                                                var msg2 = rowValue[4];
                                                                                if (msg2 == null) {
                                                                                    msg2 = '';
                                                                                }
                                                                                $("#fullTextMessage").text('').append(msg1 + msg2);
                                                                            });
                                                                        },
                                                                        error: function () {
                                                                            writeLogFileFromView("Error from ActionAjax");
                                                                        }
                                                                    });
                                                            }

                                                            clicks = 0;
                                                        }

                                                    })
                                                        .on("dblclick", function (e) {
                                                            e.preventDefault();
                                                        });

                                                });
                                            },
                                            error: function () {
                                                writeLogFileFromView("Error from DocumentAjax");
                                            }
                                        });
                                }
                            },
                            error: function () {
                                writeLogFileFromView("Error from CaseAjax");
                            }

                        });
                }
                $.fn.resetForm();

            });

            var modal = document.getElementById("caseModal")
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal.style.display = "none";
                tableAction.clear().draw();
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    tableAction.clear().draw();
                }
            }

            function writeLogFileFromView(exFromView) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Home/ExceptionMessageFromView",
                        dataType: "JSON",
                        data: { exView: exFromView },
                        success: function (result) {
                            if (result == "success") {
                                console.log("success from View")
                            }
                            else {
                                console.log("error")
                            }
                        },
                        error: function () {
                            console.log("error from View");
                        }
                    });
            }

            $('#docTable').on('click', 'tr', function (e) {
                $.ajax(
                    {
                        type: "POST",
                        url: "/Home/TowerCheck",
                        dataType: "JSON",
                        data: {},
                        success: function (result) {
                            console.log("success")
                        },
                        error: function () {
                            console.log("error");
                        }
                    });
            });

        });


    </script>

    <style>
        table {
            white-space: nowrap;
            width: auto;
            align-content: center;
            background-color: aliceblue;
            font-size: 15px;
            font-family: 'Times New Roman';
            font-style: normal;
            text-align: center;
            vertical-align: top;
            max-height: 10px;
        }

        .rowHighlighter tr:hover td {
            background-color: lightblue;
        }

        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
            font-size: small;
            padding: 0px 0px 0px 0px;
        }

        .size {
            font-size: small;
        }

        #myTable.dataTable tbody > tr.selected,
        #myTable.dataTable tbody > tr > .selected {
            background-color: greenyellow;
        }

        #actionTable.dataTable tbody > tr.selected,
        #actionTable.dataTable tbody > tr > .selected {
            background-color: greenyellow;
        }

        #myTable.dataTable tbody th, #docTable.dataTable tbody th,
        #myTable.dataTable tbody td, #docTable.dataTable tbody td {
            padding: 0px 18px;
            text-align: left;
        }

        #myTable.dataTable thead th, #docTable.dataTable thead th,
        #myTable.dataTable thead td, #docTable.dataTable thead td {
            padding: 0px 18px;
            text-align: left;
        }

        #actionTable.dataTable thead th, #actionTable.dataTable thead td,
        #actionTable.dataTable tbody th, #actionTable.dataTable tbody td {
            padding: 0px 18px;
            text-align: left;
            white-space: normal;
            word-wrap: break-word;
        }

        #btnSearch {
            padding: 0px 20px 0px 20px;
            font-size: 16px;
            font-weight: bold;
            margin: 10px 10px 10px 10px;
        }

            #btnSearch:hover {
                background-color: lightskyblue;
            }

        .datepicker {
            width: 140px;
        }

        .textBoxInput {
            width: 150px;
            outline: double;
        }

        .labelStyle {
            padding-left: 10px;
            font-weight: bold;
            font-style: normal;
            text-align: left;
            font-size: 15px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            width: auto;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>

<body>
    <div>
        <table style="align-content:center; border: 1px solid black; border-style: double; border-color:black; border-width:thick">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="padding-right:50px; padding-left:20px; padding-top:10px;">
                                <label for="filter_level" class="labelStyle">Search By: </label>
                                <select name="filter_level" id="filter_level" style="width:150px; height:30px;">
                                    <option value="" style="display:none; text-align:center;">--Select--</option>
                                    <option value="Account Level">Account Level</option>
                                    <option value="Adviser Level">Adviser Level</option>
                                    <option value="Customer Level">Customer Level</option>
                                </select>
                            </td>
                            <td style="padding-right: 40px; padding-top: 10px;">
                                <input id="Pid" type="text" class="textBoxInput" size="10" placeholder="Enter ID" style="text-align:center;" />
                            </td>
                            <td style="padding-right: 40px; padding-top: 10px;">
                                <label for="dateRange" class="labelStyle">From Date:</label>
                                @*<input id="dateRange" type="date" name="date_element" style="outline:double" />*@
                                <input type="text" id="dateRange" class="datepicker" title="From" style="outline:double" readonly />
                                <script>
                                    $(".datepicker").datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: "1980:+nn",
                                        onSelect: function (dateText) {
                                            console.log("selected Date:" + dateText + ";inputs's current value:" + this.value);
                                            $(this).change();
                                        }
                                    });
                                </script>
                            </td>
                            <td style="padding-top:10px;">
                                <label for="toRange" class="labelStyle">To Date:</label>
                                <input type="text" id="toRange" class="datepicker" title="To" style="outline:double" readonly>
                                <script>
                                    $(".datepicker").datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: "1980:+nn",
                                        onSelect: function (dateText) {
                                            console.log("selected Date:" + dateText + ";inputs's current value:" + this.value);
                                            $(this).change();
                                        }
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td align="left" style=" padding-left:10px; padding-bottom: 0px;">
                                <input id="rdbCaseCreationDate" type="radio" name="date_case" value="Case Creation Date" checked="checked" />
                                <label for="rdbCaseCreationDate" class="labelStyle">Case Creation Date</label>
                            </td>
                            <td align="left" style="padding-left: 10px; padding-bottom: 0px;">
                                <input id="rdbCaseClosedDate" type="radio" name="date_case" value="CaseClosed Date" />
                                <label for="rdbCaseClosedDate" class="labelStyle">Case Closed Date</label>
                            </td>
                            <td colspan="2" style="padding-bottom: 0px; padding-right:5px;">
                                <button id="btnSearch" type="button" name="btn_search" value="search">Search</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <div id="output1" style="display: none;">
        <label for="caseText" class="labelStyle" style="margin-top: 0px; margin-bottom: 0px;">Cases:</label>
        <div style=" border: 3px ridge black; overflow:auto;">
            <table id="myTable" class="table table-condensed rowHighlighter compact nowrap" style="width:contain;  border: 1px ridge lightgray; margin: 0px 10px 0px 10px; background-color:lightskyblue;">
                <thead>
                    <tr style="vertical-align:top;font-size:small;">
                        <th>Account</th>
                        <th>Status</th>
                        <th>Case Type</th>
                        <th>Created</th>
                        <th>Completed</th>
                        <th>Priority</th>
                        <th>Adviser</th>
                        <th>Flag</th>
                        <th>Customer Id</th>
                        <th>Requestor</th>
                        <th>Case ID</th>
                        <th>Workpack ID</th>
                        <th>Team</th>
                        <th>InPFC</th>
                        <th>Employee</th>
                    </tr>
                </thead>
                <tbody id="caseContainer">
                </tbody>
            </table>
        </div>
    </div>
    <div id="output2" style=" display:none">
        <label for="documentText" class="labelStyle" style="margin-top: 0px; margin-bottom: 0px;">Documents:</label>
        <div style="border: 3px ridge black; overflow:auto;">
            <table id="docTable" class="table table-condensed size compact nowrap" style="width: contain; border: 1px ridge lightgray; margin: 0px 10px 0px 10px; background-color: lightskyblue; ">
                <thead>
                    <tr style="vertical-align: top; font-size:small;">
                        <th>Document Type</th>
                        <th>Created</th>
                        <th>Id</th>
                        <th>Source</th>
                        <th>Box/Batch</th>
                        <th>Bundle Id</th>
                        <th>Date/Time Received</th>
                        <th>Id - Letter Description</th>
                    </tr>
                </thead>
                <tbody id="docContainer" class="rowHighlighter">
                </tbody>
            </table>
        </div>
    </div>

    <div id="caseModal" class="modal" title="Case Activities">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div style="overflow:scroll">
                <label for="actionText" id="res" class="labelStyle" style="margin-top: 0px; margin-bottom: 0px;">
                </label>
                <table id="actionTable" class="table table-condensed size compact" style="border: 1px ridge lightgray;">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date and Time</th>
                            <th>Employee</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody id="actionContainer" class="rowHighlighter">
                    </tbody>
                </table>
            </div>
            <div>
                <label for="fullTextMessage" class="labelStyle">Full Text of Message:</label><br />
                <textarea id="fullTextMessage" rows="5" cols="150" readonly style="outline:double; max-width:100%; resize:none"></textarea>
            </div>
        </div>
    </div>


</body>


