@using System.Data
@*@model IEnumerable<Gemini.Models.Case>*@
 
@{

    ViewBag.title = "Search Cases";

}
<head>
    <title>Gemini Case Search</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js" type="text/javascript"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js" type="text/javascript"></script>*@
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    @*<script src="Web.config.js" type="text/javascript"></script>*@

  

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" defer></script>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />


    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnSearch").click(function () {
                var from = $("#dateRange").val();
                var to = $("#toRange").val();
                var d = new Date(from.split("/").reverse().join("-"));
                var dd = d.getDate();
                var mm = d.getMonth() + 1;
                var yy = d.getFullYear();
                var startDate = mm + "/" + dd + "/" + yy;
                var d = new Date(to.split("/").reverse().join("-"));
                var ddt = d.getDate();
                var mmt = d.getMonth() + 1;
                var yyt = d.getFullYear();
                var endDate = mmt + "/" + ddt + "/" + yyt;

                if (!$('#filter_level').val() && document.getElementById("Pid").value.length == 0) {

                    alert('@ViewBag.emptySearch');
                }
                else if (!$('#filter_level').val()) {
                    alert('@ViewBag.emptySearchLevel');
                }
                else if ($('#filter_level').val() == "Account Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyAccountID')
                }
                else if ($('#filter_level').val() == "Adviser Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyAdviserID')
                }

                else if ($('#filter_level').val() == "Customer Level" && document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptyCustomerID')
                }

                else if (document.getElementById("Pid").value.length == 0) {
                    alert('@ViewBag.emptySearchPid');

                }
               
                else if ((Date.parse(startDate)) >= (Date.parse(endDate))) {
                    alert('@ViewBag.fromDateGreaterThanToDate');
                }
                else if ($('input[name="date_case"]:checked').lengtViewBag == 0) {
                    alert('@ViewBag.emptyCaseTypeDate');
                }
                else {
                    alert("Filter Level:" + $("#filter_level option:selected").val() + "\r\nID:" + $("#Pid").val() + "\r\nFrom Date:" + $("input[id='dateRange']").val() + "\r\nTo Date:" + $("input[id='toRange']").val() + "\r\nCase Date:" + $('input[name="date_case"]:checked').val());
                    //$("#myTable").show();
                    //$("#docTable").show();
                    $("#output1").show();
                    $("#output2").show();
                }

                
                var aFilterValue = $("#filter_level option:selected").val();
                var aIdValue = $("#Pid").val();
                var aFromDate = $("#dateRange").val();
                var aToDate = $("#toRange").val();
                var aCaseType = $('input[name="date_case"]:checked').val();
                $.ajax(
                    {
                        type: "POST",
                        url: "/Home/GetSearchCases",
                        dataType: "JSON",
                        data: { filterLevel: aFilterValue, userId: aIdValue, fromDate: aFromDate, toDate: aToDate, caseDateType: aCaseType },
                        success: function (result) {
                            console.log("success");
                            console.log(result);
                            var rows = "";
                            var rowsDoc = "";
                            $.each(result, function (i, item) {
                                    rows = "<tr>"
                                    + "<td >" + item.Account + "</td>"
                                    + "<td >" + item.Status + "</td>"
                                    + "<td >" + item.CaseType + "</td>"
                                    + "<td >" + item.Created + "</td>"
                                    + "<td >" + item.Completed + "</td>"
                                    + "<td >" + item.Priority + "</td>"
                                    + "<td >" + item.Adviser + "</td>"
                                    + "<td >" + item.Flag + "</td>"
                                    + "<td >" + item.CustomerId + "</td>"
                                    + "<td >" + item.Requestor + "</td>"
                                    + "<td >" + item.CaseID + "</td>"
                                    + "<td >" + item.WorkpackID + "</td>"
                                    + "<td >" + item.Team + "</td>"
                                    + "<td >" + item.InPFC + "</td>"
                                    + "<td >" + item.Employee + "</td>"
                                    + "</tr>";
                                $('#caseContainer').append(rows);
                                $('.odd').hide();

                            });


                            $.each(result, function (i, item) {
                                rowsDoc = "<tr>"
                                    + "<td >" + item.DocumentType + "</td>"
                                    + "<td >" + item.Created + "</td>"
                                    + "<td >" + item.Id + "</td>"
                                    + "<td >" + item.Source + "</td>"
                                    + "<td >" + item.BoxID + "</td>"
                                    + "<td >" + item.BundleID + "</td>"
                                    + "<td >" + item.DateTimeReceived + "</td>"
                                    + "<td >" + item.LetterDescription + "</td>"                                    
                                    + "</tr>";
                                $('#docContainer').append(rowsDoc);

                            });


                        },
                        error: function () {
                            console.log("Error");
                        }

                    });



            });

            $("#myTable").dataTable({
                pageLength: 10,
                searching: false,
                //serverSide: true,
                //ajax: '/Home/GetSearchCases',
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 'All records']],
                "fnDrawCallback": function (oSettings) {
                    if ($('#myTable tr').length < 11) {
                         $('.dataTables_paginate').hide();
                    }
                }
            });
            $("#docTable").dataTable({
                pageLength: 10,
                searching: false,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 'All records']]
            });
            $("#actionTable").dataTable({
                pageLength: 10,
                searching: false,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, 'All records']]
            });
            $('#myTable td').each(function (index) {
                $(this).tooltip({
                    content: function () {
                        var contentHTML = "Right click"; //Text or html you want to show in the tooltip
                        return contentHTML;
                    }
                });
            });
        });
    </script>

    <style>
        table {
            width: 549px;
            background-color: aliceblue;
        }

        .table {
            width: 500px;
            background-color: aliceblue;
            font-size: 17px;
            font-family: 'Times New Roman';
            font-style: normal;
            text-align: center;
        }

        .th {
            font-weight: bold;
            font-family: 'Times New Roman';
            font-style: normal;
            text-align: center;
        }

        td {
            background-color: aliceblue;
            font-style: normal;
            text-align: center;
        }

        .rowHighlighter tr:hover td {
            background-color: lightblue;
        }

        #btnSearch {
            padding: 0px 25px 0px 25px;
            font-size: 16px;
            margin: 20px 20px 20px 20px;
        }
            #btnSearch:hover{
                background-color:lightskyblue;
            }
        .datepicker {
            width: 130px;
            margin: 20px 0px 10px 0px
        }

        .textBoxInput {
            width: 100px;
            outline: double;
        }

        .labelStyle {
            padding-left: 5px;
            font-weight: bold;
            background-color: aliceblue;
            font-style: normal;
            text-align: left;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            width: auto;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
       

        /*#myTable thread .sorting_asc {
            background-image: url("");
        }

        #myTable thread .sorting_desc {
            background-image: url("");
        }*/
    </style>
</head>

<body>
    <div style="border-style:double;">

        <table style="border:1px solid black;">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td colspan="1" align="center">
                                <label for="filter_level" class="labelStyle">Search By: </label>
                                <select name="filter_level" id="filter_level" style="width:150px; height:30px;">
                                    <option value="" style="display:none; text-align:center;">--Select--</option>
                                    <option value="Account Level">Account Level</option>
                                    <option value="Adviser Level">Adviser Level</option>
                                    <option value="Customer Level">Customer Level</option>
                                </select>
                            </td>
                            <td colspan="1" align="left">
                                <input id="Pid" type="text" class="textBoxInput" size="10" placeholder="Enter ID" style="text-align:center;" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td>

                    <table>
                        <tr>
                            <td>
                                <label for="dateRange" class="labelStyle">From Date:</label>
                                @*<input id="dateRange" type="date" name="date_element" style="outline:double" />*@

                                <input type="text" id="dateRange" class="datepicker" title="From" style="outline:double" readonly>

                                <script>
                                    $(".datepicker").datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: "1980:+nn"
                                    });
                                </script>
                            <td />
                            <td>
                                <label for="toRange" class="labelStyle">To Date:</label>
                                <input type="text" id="toRange" class="datepicker" title="To" style="outline:double" readonly>

                                <script>
                                    $(".datepicker").datepicker({
                                        dateFormat: 'dd/mm/yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: "1980:+nn"
                                    });
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">

                                <input id="rdbCaseCreationDate" type="radio" name="date_case" value="Case Creation Date" checked="checked" />
                                <label for="rdbCaseCreationDate" class="labelStyle">Case Creation Date</label><br>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <input id="rdbCaseClosedDate" type="radio" name="date_case" value="CaseClosed Date" />
                                <label for="rdbCaseClosedDate" class="labelStyle">Case Closed Date</label><br>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" vertical-align:top; border: 1px solid black;">
                    <button id="btnSearch" type="button" name="btn_search" value="search" >Search</button>
                </td>
            </tr>
        </table>


    </div>
    <br />
    <br />
    <div id="output1" style="display: none;">
        <label for="caseText" class="labelStyle">Cases:</label>
    <div style="overflow: scroll; border: 3px ridge black; " ng-controller="HomeController" >
    <table id="myTable" class="table table-condensed rowHighlighter" style="border: 1px ridge lightgray; margin: 20px 20px 20px 20px; background-color:lightskyblue;">
        <thead>
            <tr>
                <th>Account</th>
                <th>Status</th>
                <th>Case Type</th>
                <th>Created</th>
                <th>Completed</th>
                <th>Priority</th>
                <th>Adviser</th>
                <th>Flag</th>
                <th>Customer Id</th>
                <th>Requestor</th>
                <th>Case ID</th>
                <th>Workpack ID</th>
                <th>Team</th>
                <th>InPFC</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody id="caseContainer"> 
        </tbody>
    </table>
   
        </div>
    </div>

    <br />
    <br />
    <div id="output2" style=" display:none">
        <label for="documentText" style="text-align:left" class="labelStyle">Documents:</label>

        <div style="overflow: scroll; border: 3px ridge black; ">
            <table id="docTable" class="table table-condensed" style="border: 1px ridge lightgray; margin: 20px 20px 20px 20px; background-color: lightskyblue; ">
                <thead>
                    <tr>
                        <th>Document Type</th>
                        <th>Created</th>
                        <th>Id</th>
                        <th>Source</th>
                        <th>Box/Batch</th>
                        <th>Bundle Id</th>
                        <th>Date/Time Received</th>
                        <th>Id - Letter Description</th>
                    </tr>
                </thead>
                <tbody id="docContainer" class="rowHighliter">
                   
                </tbody>
            </table>
        </div>
    </div>

    <div id="caseModal" class="modal" title="Case Activities">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div style="overflow:scroll">
                <table id="actionTable" class="table table-condensed" style="border: 1px ridge lightgray">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date and Time</th>
                            <th>Employee</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody id="actionContainer" class="rowHighliter">
                        <tr>
                            <td>Case Created</td>
                            <td>24 Apr 2002</td>
                            <td>ABCD</td>
                            <td>Case created by ABCD</td>
                        </tr>
                        <tr>
                            <td>Case Message</td>
                            <td>29 Apr 2002</td>
                            <td>ABCD</td>
                            <td>Product is ready for use</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <div>
                <label for="fullTextMessage" class="labelStyle">Full Text of Message:</label><br />
                <textarea id="fullTextMessage" rows="5" cols="150" readonly style="outline:double; max-width:100%; resize:none"></textarea>
            </div>
        </div>
    </div>
    <script>
        var caseRow = document.getElementById("myTable")
        var modal = document.getElementById("caseModal")
        var span = document.getElementsByClassName("close")[0];

        document.oncontextmenu = function () { return false; };

        $(caseRow).mousedown(function (e) {
            if (e.button == 2) {
                modal.style.display = "block";
                return false;
            }
        });

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $("#actionContainer tr").click(function () {
            var $row = $(this).closest("tr"),
                $tds = $row.find("td:nth-child(4)");
            $("#fullTextMessage").text('').append($tds.text());
        });
    </script>


</body>


